@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --body-bg: #123;
  --nav-bg: #e5e1ec;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  background-color: #cdbaef;
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 2rem;
}

nav {
  position: sticky;
  top: 0;
  max-height: 100svh;
  background-color: var(--nav-bg);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 2rem;
  padding-block: 10rem;
  font-size: 1.5rem;
}

.nav-list li {
  background: #e5e1ec;
  padding: 1rem 2rem;
  margin-left: 2rem;
  border-radius: 100vw 0 0 100vw;
}

.nav-list li.active {
  /* view-transition-name: activeNavTab; */
  background: #cdbaef;
  position: relative;
}

/* ::view-transition-group(activeNavTab) {
  animation-duration: 500ms;
} */

.nav-list li.active::before,
.nav-list li.active::after {
  --border-radius: 1rem;
  content: "";
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  right: 0;
  background: var(--nav-bg);
}

.nav-list li.active::before {
  top: calc(var(--border-radius) * -1);
  border-radius: 0 0 100vw 0vw;
  box-shadow: 5px 5px 0 5px #cdbaef;
}

.nav-list li.active::after {
  border-radius: 0 100vw 0 0;
  box-shadow: 5px -5px 0 5px #cdbaef;
  bottom: calc(var(--border-radius) * -1);
}

.nav-list a {
  color: rgb(21, 66, 111);
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 10;
}

#home-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

#home-name {
  margin-right: 60vh;
}

#search-form {
  display: flex;
  align-items: center;
}

#search-input {
  margin-left: 10%;
  text-align: center;
}
